<s-toolbar
  (onClick)="toolbarOnClick($event)"
  [keyword]="searchField"
  (onSearch)="onSearch($event)"
  [placeHolder]="searchTitle"
>
  <p-calendar
    appendTo="body"
    [showIcon]="true"
    [showButtonBar]="true"
    [showClear]="true"
    dateFormat="dd/mm/yy"
    placeholder="Từ ngày"
  ></p-calendar>
  <p-calendar
    [ngStyle]="{ 'margin-left': '12px' }"
    appendTo="body"
    [showIcon]="true"
    [showButtonBar]="true"
    [showClear]="true"
    dateFormat="dd/mm/yy"
    placeholder="Đến ngày"
  ></p-calendar>
</s-toolbar>

<div class="card mt-3">
  <p-table
    #dt
    [value]="listDataSearchInit"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [totalRecords]="totalRecords"
    currentPageReportTemplate="Hiển thị từ  {first} đến {last} trên tổng số  {totalRecords} bản ghi"
    styleClass="datatable-responsive p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="width: 2%">#</th>
        <th class="text-center" style="width: 8%">Mã đơn</th>
        <th style="width: 15%">Tên đơn hàng</th>
        <th class="text-center" style="width: 8%">Số lượng</th>
        <th class="text-center" style="width: 8%">Giá nhập</th>
        <th style="width: 15%">Nhà cung cấp</th>
        <th class="text-center" style="width: 8%">Ngày nhập</th>
        <th class="text-center" class="text-center" style="width: 9%">
          Phương thức thanh toán
        </th>
        <th class="text-center" class="text-center" style="width: 9%">
          Trạng thái thanh toán
        </th>
        <th class="text-center" class="text-center" style="width: 9%">
          Trạng thái
        </th>
        <th class="text-center" style="width: 10%">Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr [ngClass]="item?.status ? '' : 'text-400'">
        <td class="text-center">
          {{ i + 1 }}
        </td>
        <td class="text-center">
          {{ item?.code }}
        </td>
        <td>
          {{ item?.name }}
        </td>
        <td class="text-center">
          {{ item?.totalQuantity }}
        </td>
        <td class="text-center">
          {{ item?.totalPrice | currency: 'VND' }}
        </td>
        <td>{{ item?.supplier }}</td>
        <td class="text-center">{{ item?.transactionDate | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="flex" style="justify-content: center">
            <p-tag
              class="item-center"
              [severity]="setPaymentMethodColor(item.paymentMethod)"
              [value]="setPaymentMethod(item.paymentMethod)"
            ></p-tag>
          </div>
        </td>
        <td>
          <div class="flex" style="justify-content: center">
            <p-tag
              class="item-center"
              [severity]="setPaymentStatusColor(item.paymentStatus)"
              [value]="setPaymentStatus(item.paymentStatus)"
            ></p-tag>
          </div>
        </td>
        <td>
          <div class="flex" style="justify-content: center">
            <p-tag
              class="item-center"
              [severity]="setStatusColor(item.status)"
              [value]="setStatus(item.status)"
            ></p-tag>
          </div>
        </td>
        <td class="text-center">
          <div class="flex" style="justify-content: center">
            <p-actionbar
              [actions]="setActionBar(item.status)"
              (onClick)="actionClick($event, item)"
            ></p-actionbar>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10" class="text-center">Không tìm thấy đơn nhập hàng!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
