<s-toolbar
    [add]="false"
>
    <!-- <p-dropdown [ngModel]="searchParams.unit_type" [options]="unitTypes" optionLabel="name" optionValue="value" styleClass="mx-3 search-box"
    (onChange)="dt.filter($event.value, 'unit_type', 'contains')" [showClear] = "true"
      ></p-dropdown>
      <p-dropdown [ngModel]="searchParams.is_base_unit" [options]="isBaseUnits" optionLabel="name" optionValue="value" styleClass="mx-3 search-box"
      (onChange)="dt.filter($event.value, 'is_base_unit', 'contains')" [showClear] = "true"
      ></p-dropdown> -->
    <p-dropdown
        styleClass="mx-3 search-box"
        [showClear]="true"
    ></p-dropdown>
</s-toolbar>
