<s-toolbar
  [placeHolder]="searchTitle"
  [add]="false"
  (onSearch)="onSearch($event)"
>
</s-toolbar>

<div class="card mt-3">
  <p-table
    #dt
    [value]="listDataSearchInit"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [totalRecords]="totalRecords"
    currentPageReportTemplate="Hiển thị từ  {first} đến {last} trên tổng số  {totalRecords} bản ghi"
    styleClass="datatable-responsive p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Mã sản phẩm</th>
        <th class="text-center">Tên sản phẩm</th>
        <th class="text-center">Số lượng tồn</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td class="text-center">
          {{ i + 1 }}
        </td>
        <td class="text-center">
          {{ item?.code }}
        </td>
        <td class="text-center">
          {{ item?.name }}
        </td>
        <td class="text-center">
          {{ item?.quantityAvailable }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10" class="text-center">Không tìm thấy sản phẩm!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
