<s-toolbar
  [placeHolder]="searchTitle"
  [add]="false"
  (onClick)="toolbarOnClick($event)"
>
</s-toolbar>

<div class="card mt-3">
  <p-table
    #dt
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [totalRecords]="totalRecords"
    currentPageReportTemplate="Hiển thị từ  {first} đến {last} trên tổng số  {totalRecords} bản ghi"
    styleClass="datatable-responsive p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="width: 2%">#</th>
        <th class="text-center" style="width: 8%">Mã sản phẩm</th>
        <th style="width: 15%">Tên sản phẩm</th>
        <th class="text-center" style="width: 8%">Số lượng tồn</th>
        <th class="text-center" style="width: 15%">Ngày cập nhật cuối cùng</th>
        <th style="width: 15%">Người cập nhật</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr></tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10" class="text-center">Không tìm thấy đơn nhập hàng!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
