<div>
    <div class="chat-container">
        <div
            class="message-container"
            *ngFor="let message of thread"
            [ngClass]="{ self: message.participantId === 'Me' }"
        >
            <div class="message">
                <div class="message-text">
                    <p>{{ message.text }}</p>
                </div>
                <div class="message-date">
                    <span>{{ message.createdDate | date : "shortTime" }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-3 mt-3">
        <input
            type="text"
            pInputText
            placeholder="Nhập tin nhắn..."
            class="p-inputtext p-component p-element w-full"
        />
        <div class="flex">
            <p-button icon="pi pi-image" styleClass="p-button-text"></p-button>
            <p-button
                icon="pi pi-paperclip"
                styleClass="p-button-text"
            ></p-button>
            <p-button icon="pi pi-send" styleClass="p-button-text"></p-button>
        </div>
    </div>
</div>
