<div class="flex gap-3 mt-3">
    <p-listbox
        [options]="tabs"
        [(ngModel)]="activeTab"
        optionLabel="label"
        [filter]="true"
        filterPlaceHolder="Tìm kiếm"
        styleClass="w-15rem h-full"
    ></p-listbox>
    <div class="flex-grow-1" [ngSwitch]="activeTab.label">
        <ng-container *ngFor="let tab of tabs">
            <ng-container *ngSwitchCase="tab.label">
                <chat-thread [tab]="tab" ></chat-thread>
            </ng-container>
        </ng-container>
    </div>
</div>
