.file-upload {
  display: flex;
  gap: 10px;
}

.file-upload button {
  padding: 5px 10px;
  cursor: pointer;
}

.product-image {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

.p-button-success {
  background-color: #28a745 !important;
  color: white;
}

.p-button-danger {
  background-color: #dc3545 !important;
  color: white;
}

.p-button-text {
  background-color: transparent;
}

.pi {
  font-size: 16px;
  margin-right: 5px;
}

.disabled-icon {
  color: #b0b0b0;
  cursor: not-allowed;
}
