<s-toolbar
  (onClick)="toolbarOnClick($event)"
  [keyword]="searchField"
  (onSearch)="onSearch($event)"
  [placeHolder]="searchTitle"
>
  <p-dropdown
    [ngModel]="status"
    [options]="statusDropDown"
    optionLabel="name"
    optionValue="value"
    styleClass="mx-3 search-box"
    (onChange)="dt.filter($event.value, 'status', 'contains')"
    [showClear]="true"
    placeholder="Trạng thái"
  ></p-dropdown>
</s-toolbar>

<div class="card mt-3">
  <p-table
    #dt
    [value]="listDataSearchInit"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [totalRecords]="totalRecords"
    currentPageReportTemplate="Hiển thị từ  {first} đến {last} trên tổng số  {totalRecords} bản ghi"
    styleClass="datatable-responsive p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Ảnh</th>
        <th class="text-center" style="width: 8%">Mã sản phẩm</th>
        <th style="width: 15%">Tên sản phẩm</th>
        <th style="width: 13%">Loại sản phẩm</th>
        <th class="text-center" style="width: 10%">Hiệu suất</th>
        <th class="text-center" style="width: 10%">
          Chiết khấu đang được áp dụng
        </th>
        <th class="text-center" style="width: 10%">Giá</th>
        <th class="text-center" class="text-center" style="width: 9%">
          Trạng thái
        </th>
        <th class="text-center" class="text-center" style="width: 10%">
          Thao tác
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr [ngClass]="item?.status ? '' : 'text-400'">
        <td class="text-center">
          {{ i + 1 }}
        </td>
        <td class="text-center">
          <img
            *ngIf="item?.imageUrl"
            [src]="item.imageUrl"
            alt="Product Image"
            style="
              max-width: 100px;
              max-height: 100px;
              border-radius: 50%;
              object-fit: cover;
            "
          />
        </td>
        <td class="text-center">
          {{ item?.code }}
        </td>
        <td>
          {{ item?.name }}
        </td>
        <td>
          {{ item?.categoryName }}
        </td>
        <td class="text-center">
          {{ item?.power }}W
        </td>
        <td class="text-center">{{ item?.promotionName }}</td>
        <td class="text-center">{{ item?.finalTotalPrice }}</td>
        <td>
          <div class="flex" style="justify-content: center">
            <p-tag
              class="item-center"
              [severity]="setStatusColor(item.status)"
              [value]="setStatus(item.status)"
            ></p-tag>
          </div>
        </td>
        <td class="text-center">
          <div class="flex" style="justify-content: center">
            <p-actionbar
              [actions]="setActionBar(item.status)"
              (onClick)="actionClick($event, item)"
            ></p-actionbar>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10" class="text-center">Không tìm thấy sản phẩm!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
