.container {
    display: flex;
    height: 100vh; /* Thiết lập chiều cao tối đa của container là 100% chiều cao của viewport */
}

.pr-page {
    overflow: auto;
    width: 40%;
}

.pr-detail {
    width: 60%;
    background-color: #f7fffe;
}

.d-flex {
    display: flex;
}

.data-container {
    background-color: #ffffff;
    padding: 20px 0;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

::ng-deep {
    .p-toolbar {
        position: sticky;
        z-index: 1;
        position: -webkit-sticky; // Needed for Safari browsers.
        top: 70px; // Required for "position: sticky" to take effect.
        padding: 0 1rem !important;
        margin-top: 15px;
    }
    .keyword-search-input {
        min-width: 350px;
    }
    .p-dropdown,
    .p-multiselect  {
        width: 100%;
    }
    .p-calendar {
        width: 100%;
    }
    .p-button {
        font-size: 10px;
    }
    .buttonxemthem {
        .p-button {
            background: #008080;
            border: 1px solid #008080;
        }
        .p-button:enabled:hover {
            background: #008080;
            border-color: #008080;
        }
    }
    .button1 {
        .p-button {
            background: #404d0b;
            border: 1px solid #404d0b;
        }
        .p-button:enabled:hover {
            background: #404d0b;
            border-color: #404d0b;
        }
    }
    .button2 {
        .p-button {
            background: #0a8677;
            border: 1px solid #0a8677;
        }
        .p-button:enabled:hover {
            background: #0a8677;
            border-color: #0a8677;
        }
    }
    .button3 {
        .p-button {
            background: #bb4747;
            border: 1px solid #bb4747;
        }
        .p-button:enabled:hover {
            background: #bb4747;
            border-color: #bb4747;
        }
    }
    .button4 {
        .p-button {
            background: #4a9f53;
            border: 1px solid #4a9f53;
        }
        .p-button:enabled:hover {
            background: #4a9f53;
            border-color: #4a9f53;
        }
    }
}

.vertical-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    right: 0; /* Đặt đường thẳng giữa các div */
    transform: translateX(-50%); /* Di chuyển đường thẳng về giữa */
}

.data-label {
    font-size: 18px;
    font-weight: bold;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}
