<dialog-header> </dialog-header>

<dialog-content>
  <form [formGroup]="form!">
    <div class="p-fluid">
      <div class="p-formgrid grid">
        <div class="field col-12 lg:col-6">
          <label htmlfor="title"
            >Mã đơn nhập hàng<span class="p-error">*</span></label
          >
          <input
            pInputText
            formControlName="code"
            id="title"
            type="text"
            class="p-inputtext p-component p-element"
            [ngClass]="
              f['code'].errors && (f['code'].dirty || f['code'].touched)
                ? 'ng-dirty ng-invalid'
                : ''
            "
          />
          <span
            class="p-error font-italic"
            *ngIf="f['code'].errors && (f['code'].dirty || f['code'].touched)"
          >
            <small
              *ngIf="
                f['code'].errors['required'] || f['code'].errors['whitespace']
              "
              >Mã đơn hàng không được để trống</small
            >
            <small *ngIf="f['code'].errors['maxlength']"
              >Mã đơn hàng không được vượt quá 100 ký tự</small
            >
          </span>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title"
            >Tên đơn nhập hàng<span class="p-error">*</span></label
          >
          <input
            pInputText
            formControlName="name"
            id="title"
            type="text"
            class="p-inputtext p-component p-element"
            [ngClass]="
              f['name'].errors && (f['name'].dirty || f['name'].touched)
                ? 'ng-dirty ng-invalid'
                : ''
            "
          />
          <span
            class="p-error font-italic"
            *ngIf="f['name'].errors && (f['name'].dirty || f['name'].touched)"
          >
            <small
              *ngIf="
                f['name'].errors['required'] || f['name'].errors['whitespace']
              "
              >Tên đơn hàng không được để trống</small
            >
            <small *ngIf="f['name'].errors['maxlength']"
              >Tên đơn hàng không được vượt quá 255 ký tự</small
            >
          </span>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title">Khách hàng</label>
          <input
            pInputText
            formControlName="userId"
            id="title"
            type="text"
            class="p-inputtext p-component p-element"
          />
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title"
            >Thời gian đặt hàng</label
          >
          <p-calendar
            formControlName="createdAt"
            appendTo="body"
            [showIcon]="true"
            [showButtonBar]="true"
            [showClear]="true"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="note">Phương thức thanh toán đơn hàng</label>
          <p-dropdown
            formControlName="paymentMethod"
            [options]="paymentMethodList"
            optionLabel="label"
            optionValue="value"
            placeholder="Chọn phương thức"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="note">Tình trạng thanh toán đơn hàng</label>
          <p-dropdown
            formControlName="status"
            [options]="paymentStatusList"
            optionLabel="label"
            optionValue="value"
            placeholder="Chọn phương thức"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title">Tổng số lượng</label>
          <input
            formControlName="totalQuantity"
            pInputText
            id="title"
            type="number"
            class="p-inputtext p-component p-element"
          />
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title">Tổng giá nhập</label>
          <p-inputNumber
            formControlName="totalPrice"
            mode="currency"
            currency="VND"
            locale="vi-VN"
          ></p-inputNumber>
        </div>
        <div class="field col-12 lg:col-6">
          <label>Thêm sản phẩm</label>
          <p-button
            (onClick)="addProduct()"
            label="Thêm sản phẩm"
            icon="pi pi-plus"
            [disabled]="actionViewDisable()"
          />
        </div>
        <div class="field col-12 lg:col-12">
          <p-table
            #dt
            [value]="orderDetail.controls"
            [lazy]="true"
            [rows]="10"
            formArrayName="orderDetail"
            styleClass="datatable-responsive p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" style="width: 2%">#</th>
                <th class="text-center">Sản phẩm</th>
                <th class="text-center" style="width: 15%">Số lượng</th>
                <th class="text-center" style="width: 20%">Giá nhập</th>
                <th class="text-center" style="width: 15%">Thao tác</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr [formGroupName]="i">
                <td class="text-center">{{ i + 1 }}</td>
                <td>
                  {{ getProductName(item.get("productId").value) }}
                </td>
                <td class="text-center">
                  <p-inputNumber
                    formControlName="quantity"
                    id="quantity"
                    (ngModelChange)="updateTotals()"
                    min="1"
                    [readonly]="actionViewDisable()"
                  ></p-inputNumber>
                </td>
                <td class="text-center">
                  <p-inputNumber
                    formControlName="price"
                    id="price"
                    (ngModelChange)="updateTotals()"
                    mode="currency"
                    currency="VND"
                    locale="vi-VN"
                    [readonly]="actionViewDisable()"
                  ></p-inputNumber>
                </td>
                <td class="text-center">
                  <i
                    (click)="!actionViewDisable() && removeProduct(i)"
                    class="pi pi-trash"
                    style="
                      font-size: 1.2rem;
                      color: #d32f2f;
                      cursor: pointer;
                      margin-left: 15px;
                    "
                  ></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10" class="text-center">Chưa có sản phẩm nào!</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="field col-12 lg:col-12">
          <label htmlfor="note">Mô tả</label>
          <textarea
            pTextArea
            id="description"
            formControlName="description"
            rows="5"
            cols="30"
            pInputTextarea
            type="text"
            class="p-inputtext p-component p-element"
          >
          </textarea>
        </div>
      </div>
    </div>
  </form>
</dialog-content>

<dialog-footer
  [isOnSave]="action !== 'view'"
  (onClose)="close()"
  (onSave)="save()"
  [isOnSaveContinue]="action === 'insert'"
  [disabledSave]="form!.invalid"
  [cancelLabel]="action === 'view' ? 'Đóng' : 'Huỷ'"
>
</dialog-footer>

<p-dialog
  header="Chọn sản phẩm"
  [(visible)]="displayProductDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
>
  <div class="field">
    <p-table
      [value]="productList"
      [paginator]="true"
      [rows]="5"
      selectionMode="single"
      [(selection)]="selectedProduct"
      [style]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Tên sản phẩm</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-i="rowIndex">
        <tr [pSelectableRow]="product">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex justify-content-end mt-2">
    <p-button
      label="Xác nhận"
      icon="pi pi-check"
      (onClick)="selectProduct()"
      [disabled]="!selectedProduct"
    ></p-button>
  </div>
</p-dialog>
