<dialog-header> </dialog-header>

<dialog-content>
  <form [formGroup]="form!">
    <div class="p-fluid">
      <div class="p-formgrid grid">
        <div class="field col-12 lg:col-6">
          <label htmlfor="title"
            >Mã đơn nhập hàng<span class="p-error">*</span></label
          >
          <input
            pInputText
            id="title"
            type="text"
            class="p-inputtext p-component p-element"
          />
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title"
            >Tên đơn nhập hàng<span class="p-error">*</span></label
          >
          <input
            pInputText
            id="title"
            type="text"
            class="p-inputtext p-component p-element"
          />
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title"
            >Tên nhà cung cấp<span class="p-error">*</span></label
          >
          <input
            pInputText
            id="title"
            type="text"
            class="p-inputtext p-component p-element"
          />
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title">Tổng số lượng</label>
          <input
            pInputText
            id="title"
            type="number"
            class="p-inputtext p-component p-element"
          />
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title">Tổng giá nhập</label>
          <p-inputNumber
            mode="currency"
            currency="VND"
            locale="vi-VN"
          ></p-inputNumber>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="title">Ngày nhập<span class="p-error">*</span></label>
          <p-calendar
            appendTo="body"
            [showIcon]="true"
            [showButtonBar]="true"
            [showClear]="true"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="note">Phương thức thanh toán đơn hàng</label>
          <p-dropdown
            formControlName="paymentMethod"
            [options]="paymentMethodList"
            optionLabel="label"
            optionValue="value"
            placeholder="Chọn phương thức"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 lg:col-6">
          <label htmlfor="note">Tình trạng thanh toán đơn hàng</label>
          <p-dropdown
            formControlName="paymentStatus"
            [options]="paymentStatusList"
            optionLabel="label"
            optionValue="value"
            placeholder="Chọn phương thức"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 lg:col-6">
          <label>Thêm sản phẩm</label>
          <p-button
            (onClick)="addProduct()"
            label="Thêm sản phẩm"
            icon="pi pi-plus"
          />
        </div>
        <div class="field col-12 lg:col-12">
          <p-table
            #dt
            [value]="warehouseProductDTOS!.controls"
            [lazy]="true"
            [rows]="10"
            formArrayName="warehouseProductDTOS"
            styleClass="datatable-responsive p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" style="width: 2%">#</th>
                <th class="text-center">Sản phẩm</th>
                <th class="text-center" style="width: 15%">Số lượng</th>
                <th class="text-center" style="width: 20%">Giá nhập</th>
                <th class="text-center" style="width: 15%">Thao tác</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr [formGroupName]="i">
                <td class="text-center">{{ i + 1 }}</td>
                <td>
                  {{ getProductName(item.get('productId').value) }}
                </td>
                <td class="text-center">
                  <input
                    formControlName="quantity"
                    pInputText
                    id="quantity"
                    style="max-height: 32px; max-width: 100%"
                    type="number"
                    class="p-inputtext p-component p-element"
                    min="1"
                    max="10"
                  />
                </td>
                <td class="text-center">
                  <input
                    formControlName="price"
                    pInputText
                    id="price"
                    style="max-height: 32px; max-width: 100%"
                    type="number"
                    class="p-inputtext p-component p-element"
                    min="1"
                    max="10"
                  />
                </td>
                <td class="text-center">
                  <i
                    (click)="removeProduct(i)"
                    class="pi pi-trash"
                    style="
                      font-size: 1.2rem;
                      color: #d32f2f;
                      cursor: pointer;
                      margin-left: 15px;
                    "
                  ></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10" class="text-center">Chưa có sản phẩm nào!</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="field col-12 lg:col-12">
          <label htmlfor="note">Mô tả</label>
          <textarea
            pTextArea
            rows="5"
            cols="30"
            pInputTextarea
            type="text"
            class="p-inputtext p-component p-element"
          >
          </textarea>
        </div>
      </div>
    </div>
  </form>
</dialog-content>

<dialog-footer
  [isOnSave]="action !== 'view'"
  (onClose)="close()"
  (onSave)="save()"
  [isOnSaveContinue]="action === 'insert'"
  [cancelLabel]="action === 'view' ? 'Đóng' : 'Huỷ'"
>
  <!-- [disabledSave]="form!.invalid" -->
</dialog-footer>

<p-dialog
  header="Chọn sản phẩm"
  [(visible)]="displayProductDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
>
  <div class="field">
    <p-table
      [value]="productList"
      [paginator]="true"
      [rows]="5"
      selectionMode="single"
      [(selection)]="selectedProduct"
      [style]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Tên sản phẩm</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-i="rowIndex">
        <tr [pSelectableRow]="product">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex justify-content-end mt-2">
    <p-button
      label="Xác nhận"
      icon="pi pi-check"
      (onClick)="selectProduct()"
      [disabled]="!selectedProduct"
    ></p-button>
  </div>
</p-dialog>
