<dialog-header> </dialog-header>

<dialog-content>
    <form [formGroup]="form!">
        <div class="p-fluid">
            <div class="p-formgrid grid">
                <div class="field col-12 lg:col-6">
                    <label htmlfor="title"
                        >Tên mẫu hợp đồng phụ lục<span class="p-error"
                            >*</span
                        ></label
                    >
                    <input
                        pInputText
                        id="title"
                        type="text"
                        class="p-inputtext p-component p-element"
                    />
                </div>
                <div class="field col-12 lg:col-6">
                    <label htmlfor="display_order"
                        >Mã mẫu hợp đồng phụ lục<span class="p-error"
                            >*</span
                        ></label
                    >
                    <input
                        pInputText
                        id="title"
                        type="text"
                        class="p-inputtext p-component p-element"
                    />
                </div>
                <div class="field col-12 lg:col-12">
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Upload"
                        name="demo[]"
                        accept=""
                        [maxFileSize]="1000000"
                        (onUpload)="onUpload($event)"
                    ></p-fileUpload>
                </div>
                <div class="field col-12 lg:col-12">
                    <label htmlfor="note"
                        >Mô tả<span class="p-error">*</span></label
                    >
                    <textarea
                        pTextArea
                        id="description"
                        rows="5"
                        cols="30"
                        pInputTextarea
                        type="text"
                        class="p-inputtext p-component p-element"
                    >
                    </textarea>
                </div>
            </div>
        </div>
    </form>
</dialog-content>

<dialog-footer
    [isOnSave]="action !== 'view'"
    (onClose)="close()"
    (onSave)="save()"
    [isOnSaveContinue]="action === 'insert'"
    [disabledSave]="form!.invalid"
    [cancelLabel]="action === 'view' ? 'Đóng' : 'Huỷ'"
>
</dialog-footer>
